//asside-----------------------
//-----------------------------
//-----------------------------
//@import 'variables';

//asside block--------------------------
.asside-menu_fragment_1{
    position: fixed;
    left: 4%;
    top: 0;
    height: 90%;
    background-color: rgba($main_red, .6);
    backdrop-filter: blur(3px);
    z-index: 2;
    clip-path: polygon(0 27.8%, 0 80%, 100% 99.1%, 100% 92%, 45% 81%, 100% 70%, 100% 0);

}

.asside-menu_fragment_2{
    position: fixed;
    left: 4%;
    top: 0;
    height: 90%;
    background-color: rgba($main_red, .6);
    backdrop-filter: blur(3px);
    z-index: 2;
    clip-path: polygon(49.8% 81%, 100% 91%, 100% 71%);

}

.asside-menu_fragment_3{
    position: fixed;
    left: 4%;
    top: 0;
    height: 90%;
    background-color: rgba($main_red, .6);
    backdrop-filter: blur(3px);
    z-index: 2;
    clip-path: polygon(0 81%, 0% 100%, 99.5% 100%);
}

.asside-menu_fragment_4{
    position: fixed;
    left: 4%;
    top: 0;
    height: 90%;
    background-color: rgba($main_red, .6);
    backdrop-filter: blur(3px);
    z-index: 2;
    clip-path: polygon(0 26.8%, 0 0, 97% 0);
}

//main title-----------------------------
.title{
    text-align: left;
    width: 18%;
    position: fixed;
    bottom: 49%;
    left: 5%;
    z-index: 5;
    cursor: pointer;
}

.title2{
    text-align: left;
    width: 18%;
    position: fixed;
    top: 49%;
    left: 6.5%;
    z-index: 5;
    cursor: pointer;
}
/*
.title.title-animation{
    clip-path: polygon(0 60%, 100% 59%, 100% 64%, 0 64%);
    animation-timing-function: ease-out;
    animation: title-animation 3s both;
}*/

#Vrstva_1.title-animation{
    clip-path: polygon(0 60%, 100% 59%, 100% 64%, 0 64%);
    animation-timing-function: ease-out;
    animation: title-animation 3s both;
}

@keyframes title-animation {   
    100% {clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
}

//title1 animation
.letter_bigl.letters-animation{
    clip-path: polygon(52% 45%, 52% 63%, 66% 63%, 67% 100%, 0 100%, 0 34%);
    animation-timing-function: ease-out;
    animation: letter_bigl 3s both;
}
@keyframes letter_bigl {   
    99% {clip-path: polygon(51% 0, 52% 63%, 100% 63%, 100% 100%, 0 100%, 0 0);}
    100% {clip-path: polygon(52% 0, 100% 0, 100% 65%, 100% 100%, 0 100%, 0 0);}
}

.letter_u.letters-animation{
    clip-path: polygon(50% 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 0 62%, 49% 62%);
    animation-timing-function: ease-out;
    animation: letter_u 3s both;
}
@keyframes letter_u {   
    100% {clip-path: polygon(50% 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 0 0, 49% 0);}
}

.letter_k.letters-animation{
    clip-path: polygon(48% 21%, 49% 23%, 100% 10%, 100% 27%, 100% 72%, 51% 100%, 17% 100%, 0 100%, 0 35%);
    animation-timing-function: ease-out;
    animation: letter_k 3s both;
}
@keyframes letter_k {   
    100% {clip-path: polygon(47% 0, 47% 26%, 100% 10%, 100% 27%, 100% 100%, 100% 100%, 17% 100%, 0 100%, 0 0);}
}

.letter_a.letters-animation{
    clip-path: polygon(57% 31%, 49% 0, 100% 0, 100% 99%, 0 100%, 0 42%, 58% 36%);
    animation-timing-function: ease-out;
    animation: letter_a 4s both;
}
@keyframes letter_a {   
    99% {clip-path: polygon(0 37%, 0 0, 100% 0, 100% 100%, 0 100%, 0 43%, 50% 34%);}
    100% {clip-path: polygon(0 26%, 0 0, 100% 0, 100% 100%, 0 100%, 0 42%, 0 38%);}
}

.letter_s.letters-animation{
    clip-path: polygon(71% 1%, 59% 35%, 48% 37%, 100% 46%, 100% 100%, 29% 100%, 34% 72%, 41% 71%, 0 55%, 0 0);
    animation-timing-function: ease-out;
    animation: letter_s 3s both;
}
@keyframes letter_s {   
    99% {clip-path: polygon(100% 0, 100% 34%, 48% 37%, 100% 46%, 100% 100%, 0 100%, 0 68%, 40% 70%, 0 55%, 0 0);}
    100% {clip-path: polygon(100% 0, 100% 34%, 100% 40%, 100% 46%, 100% 100%, 0 100%, 0 68%, 0 57%, 0 55%, 0 0);}
}

.letter_diacritic.letters-animation{
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
    animation-timing-function: ease-out;
    animation: letter_diacritic 3s both .4s;
}
@keyframes letter_diacritic {   
    100% {clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
}

//title2 animation
.letter_d.letters-animation{
    clip-path: polygon(0 42%, 0 0, 100% 0, 100% 100%, 68% 100%, 0 100%, 0 70%, 50% 61%, 51% 33%);
    animation-timing-function: ease-out;
    animation: letter_d 2s both;
}
@keyframes letter_d {   
    99% {clip-path: polygon(0 52%, 0 0, 100% 0, 100% 100%, 68% 100%, 0 100%, 0 52%, 49% 55%, 49% 54%);}
    100% {clip-path: polygon(0 54%, 0 0, 100% 0, 100% 100%, 68% 100%, 0 100%, 0 54%, 0 55%, 0 54%);}
}

.letter_o.letters-animation{
    clip-path: polygon(100% 7%, 49% 50%, 100% 87%, 100% 99%, 0 100%, 0 0, 100% 0);
    animation-timing-function: ease-out;
    animation: letter_o 2.5s both;
}
@keyframes letter_o {   
    
    100% {clip-path: polygon(100% 55%, 49% 50%, 100% 47%, 100% 99%, 0 100%, 0 0, 100% 0);}
}

.letter_l.letters-animation{
    clip-path: polygon(0 48%, 100% 35%, 100% 73%, 30% 100%, 0 100%);
    animation-timing-function: ease-out;
    animation: letter_l 3s both;
}
@keyframes letter_l {   
    100% {clip-path: polygon(0 0, 100% 0, 100% 79%, 100% 100%, 0 100%);}
}

.letter_e.letters-animation{
    clip-path: polygon(100% 64%, 39% 68%, 46% 100%, 0 100%, 0 41%, 0 0, 100% 0);
    animation-timing-function: ease-out;
    animation: letter_e 4s both;
}
@keyframes letter_e {   
    99% {clip-path: polygon(100% 64%, 100% 64%, 100% 100%, 0 100%, 0 41%, 0 0, 100% 0);}
    100% {clip-path: polygon(100% 64%, 100% 33%, 100% 100%, 0 100%, 0 41%, 0 0, 100% 0);}
}

.letter_t.letters-animation{
    clip-path: polygon(57% 56%, 55% 64%, 15% 100%, 0 100%, 0 0, 58% 0);
    animation-timing-function: ease-out;
    animation: letter_t 3s both;
}
@keyframes letter_t {   
    100% {clip-path: polygon(100% 60%, 100% 62%, 100% 100%, 0 100%, 0 0, 100% 0);}
}

.letter_i.letters-animation{
    clip-path: polygon(0 0, 100% 0%, 100% 46%, 0 57%);
    animation-timing-function: ease-out;
    animation: letter_i 3s both;
}
@keyframes letter_i {   
    100% {clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);}
}

.letter_n.letters-animation{
    clip-path: polygon(0 0, 100% 0, 99% 44%, 50% 45%, 50% 100%, 0 100%);
    animation-timing-function: ease-out;
    animation: letter_n 3s both;
}
@keyframes letter_n {   
    100% {clip-path: polygon(0 0, 100% 0, 100% 100%, 49% 100%, 50% 100%, 0 100%);}
}


svg{
   display: block;
   margin: 0 auto;
   width: 100%;
   height: 100%;
   -webkit-filter: drop-shadow( -8px 6px 7px rgba(0, 0, 0, .7));
   filter: drop-shadow( -8px 6px 7px rgba(0, 0, 0, .7));
}


//main menu--------------------
.main-menu{
    position: fixed;
    z-index: 4;
    left: 4%;
    height: 90%;
    width: 10%;

    .main-menu_inner{
        position: absolute;
        bottom: 63%;
        right: 0;
        padding: 0;
        margin: 0;

    }

    li{
        position: relative;
        list-style-type: none;
        padding: 0;
        text-align: right;
        height: 2rem;
    }
    
    a{
        text-decoration: none;
        font-size: .7em;
        line-height: 1.9rem;
        font-weight: 500;
        letter-spacing: .2rem;
        padding-right: .6rem;
        color: rgba(0, 0, 0, 0.4);

        &::before{
            content:'';
            position: absolute;
            display: block;
            width: .3rem;
            height: 0.5rem;
            background-color: rgba(0, 0, 0, 0.4);
            top: 50%;
            right: 0%;
            transform: translate(0 ,-50%);
            transform: scalex(0);
			transform-origin: right;
			transition: .5s;
        }

        &:hover:before{
			transform: scalex(1);
		}
    }
}

@media only screen and (min-width: 2600px){
    .main-menu_inner a{
        font-size: 1.4em;
        line-height: 3.2rem;
        letter-spacing: 0.5rem;
        

    }
    .main-menu_inner li{
        height: 4rem;
    }
}

@media only screen and (max-height: 700px){
    .main-menu_inner a{
        font-size: .6em;
        line-height: 1.7rem;
        

    }
    .main-menu_inner li{
        height: 1.8rem;
    }
}

.selected a::before{
    transform: scalex(1);
    transform: translate(0, -50%);
}



