//main content-----------------
//-----------------------------
//-----------------------------
@import 'variables';

// box -------------------------------
.panel {
    width: 100%;
    min-height: 100%;
    
}
.content{
    position: fixed;
    top: 0;
    left: 30%;
    max-width: 60%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    //border: aqua 1px solid;

    p{
        color: grey;
    }
}

article{
    padding: 2%;

}
.row{
    height: 100%;
}

//obout me content

#kto{
    .content{
        max-width: 60%;
        //left: 25%;
    }

    article{
        //border: aqua 1px solid; //vymaž
        height: 36%;
        margin-top: 10%;
        align-items: center; 
        overflow: hidden;
    }    
}

.kto-img{
    position: relative;
    width: 80%;
    height: 33vh;
    -webkit-filter: drop-shadow( -8px 6px 7px rgba(0, 0, 0, .7));
    filter: drop-shadow( -8px 6px 7px rgba(0, 0, 0, .7));
    background-image: url("..//img/myfoto.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $main-dark;
    clip-path: polygon(100% 0, 100% 20%, 70% 50%, 100% 80%, 100% 100%, 0 100%, 0 0);
}
//https://css-tricks.com/using-box-shadows-and-clip-path-together/

.kto-text_container{
    //border: greenyellow 1px solid; //vymaž
    height: 20%;
}


//video content

.video-box{
    position: relative;
    height: 20vh; //mobile change
    box-shadow: -8px 10px 15px rgba(0, 0, 0, .5);
    overflow: hidden;

}

.video-box_cover{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transform: scale(1.15);
    transition: .5s;
    transition-timing-function: ease-in-out;
}

.video-box_title_label{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(0px);
    transition: .7s;
    transform: scale(1.1);
    transition-timing-function: ease-in-out; //kubic bazier

    h3{
        position: absolute;
        width: 55%;
        left: 0;
        top: 55%;
        font-size: .8em;
        letter-spacing: .2rem;
        text-align: center;
        color: rgba(196, 196, 196, .7);
        opacity: 0;
        transition: .5s;
        transition-delay: .3s;
    }

    h4{
        position: absolute;
        width: 55%;
        left: 0;
        top: 70%;
        font-size: .6em;
        letter-spacing: .2rem;
        text-align: center;
        color: rgba(196, 196, 196, .7);
        opacity: 0;
        transition: .5s;
        transition-delay: .3s;
    }
}

.video-box_play-button{
    position: absolute;
    width: 35px;
    height: 50px;
    left: 50%;
    top: 50%;
    background-color: rgba($main-red, .5);
    transform: translate(-50%, -50%);
    backdrop-filter: blur(3px);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    transition: .5s;
    transition-timing-function: ease-out;
}
.video-box_play-button:hover{
    background-color: rgba($main-red, .7);
    transition: .2s;
}


.video-box:hover{
    
    .video-box_title_label{
        clip-path: polygon(0 0, 45% 0, 60% 100%, 0 100%);
        background-color: rgba(0, 0, 0, .3);
        backdrop-filter: blur(3px);
    }
    
    .video-box_cover{
        filter: grayscale(0%);
        transform: scale(1.05);
    }
    
    h3{
        top: 60%;
        opacity: 1;
    }
    
    h4{
        top: 75%;
        opacity: 1;
    }
    
    .video-box_play-button{
        left: 54%;
    }
}







.video-button_container{
    height: 2vh;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: right;
    vertical-align: baseline;
    
    a{
        text-decoration: none;
        font-size: .7em;
        font-weight: 500;
        letter-spacing: .2rem;
        color: rgba(196, 196, 196, .3);
        transition: .2s;
    }
    
    a:hover{
        color: rgba(196, 196, 196, .7);
    }
}

@media only screen and (min-width: 2000px){
    .video-box_play-button{
        width: 46px;
        height: 66px;
    }

    .video-button_container a{
        font-size: 1.1em;
        letter-spacing: .3rem;
    }
}


@media only screen and (min-width: 3000px){
    .video-box_play-button{
        width: 70px;
        height: 100px;
    }

    .video-button_container a{
        font-size: 1.5em;
        letter-spacing: .4rem;
    }

    .video-box_title_label{
        h3{
            font-size: 1.5em;
            letter-spacing: .4rem;
        }

        h4{
            font-size: 1.3em;
            letter-spacing: .4rem;
        }
    }
}
