//main content-----------------
//-----------------------------
//-----------------------------
@import 'variables';

// box
.panel {
    width: 100%;
    min-height: 100%;
    
}
.content{
    position: fixed;
    top: 0;
    left: 30%;
    max-width: 60%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    

    p{
        color: grey;
    }
}

article{
    padding: 2%;

}
.row{
    height: 100%;
}

//obout me content
//
//

#kto{
    .content{
        max-width: 50%;
    }

    article{
        margin-top: 20vh;
        align-items: center; 
        
    }   
    
}

.kto-img_inner{
    
    position: relative;
    min-height: 33vh;
    display: flex;
    justify-content: center;
    
    .kto-img_container{
        position: absolute;
        top: 0;
        width: 80%;
        min-height: 33vh; 
        -webkit-filter: drop-shadow( -8px 6px 7px rgba(0, 0, 0, .4));
        filter: drop-shadow( -8px 6px 7px rgba(0, 0, 0, .4));
    }
    
    .kto-img{
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("../img/Lukas1346.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $main-dark;
        filter: grayscale(90%);
    }
    
    .photo-fragment1{
        clip-path: polygon(70% 50%, 100% 80%, 100% 20%);
    }
    
    .photo-fragment2{
        clip-path: polygon(100% 0, 100% 20%, 70% 50%, 100% 80%, 100% 100%, 0 100%, 0 0); 
    }
    
    .c-fragment2{
        -webkit-filter: drop-shadow( -8px 10px 9px rgba(0, 0, 0, .4));
        filter: drop-shadow( -8px 10px 9px rgba(0, 0, 0, .4));
    }
    
    .c-fragment1{
        margin-left: 7%;
        -webkit-filter: drop-shadow( -8px 10px 9px rgba(0, 0, 0, .4));
        filter: drop-shadow( -8px 10px 9px rgba(0, 0, 0, .4));
    }
}

.kto-text_container{
    min-height: 20vh;
    padding: 2% 1% 0 1%;

    p{
        text-align: justify;
        color: rgba(167, 167, 167, 0.9);
        font-size: 1.6vh;
        letter-spacing: .2vh;
        font-weight: 300;
    }

    h4{
        color: rgba(167, 167, 167, 0.9);
        font-size: 2.8vh;
        font-weight: 300;
        letter-spacing: .3vh;
        text-align: center;
    }
    
}

@media only screen and (max-width: 1130px){
    #kto .content {
        max-width: 63%;
    }
}

@media only screen and (min-width: 1700px){
    .kto-text_container{
        p{
            font-size: 1.4vh;
            letter-spacing: .2vh;
        }
    
        h4{
            font-size: 2.2vh;
            letter-spacing: .3vh;
        }  
    }
}

// portfolio content
//
//
#moje-prace article{
    padding: 1% 3% 3% 3%;
    margin-top: .5em;
}
.portfolio-box{
    position: relative;
    height: 25vh;
    box-shadow: -8px 10px 15px rgba(0, 0, 0, .5);
    overflow: hidden;
    cursor: pointer;

    .portfolio-link{
        display: none;
    }
    .portfolio-text{
        display: none;
    }

}

.portfolio-box_cover{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: .5s;
    transition-timing-function: ease-in-out;
    filter: brightness(90%);
}

.portfolio-box_asside{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(0px);
    transition: .7s;
    transition-timing-function: ease-in-out;

    .portfolio-box_asside_inner{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40%;
        padding: 2% 8%;
    }

    h3{
        position: relative;
        width: 100%;
        height: 10%;
        top: 0;
        font-size: .8vw;
        letter-spacing: .2vw;
        font-weight: 400;
        text-align: center;
        color: rgba(248, 248, 248, .8);
        opacity: 0;
        transition: .5s;
        transition-delay: .3s;
    }

    h4{
        position: relative;
        width: 100%;
        top: 0;
        font-size: .6vw;
        letter-spacing: .2vw;
        font-weight: 400;
        text-align: center;
        color: rgba(248, 248, 248, .5);
        opacity: 0;
        transition: .5s;
        transition-delay: .3s;
    }
}

.portfolio-box:hover{
    
    .portfolio-box_asside{
        clip-path: polygon(0 76%, 100% 60%, 100% 100%, 0% 100%);
        background-color: rgba(0, 0, 0, .4);
        backdrop-filter: blur(3px);
    }
    
    .portfolio-box_cover{
        filter: brightness(100%);
        transition: .7s;
        transform: scale(1.45);
    }
    
    h3{
        top: 40%;
        opacity: 1;
    }
    
    h4{
        top: 45%;
        opacity: 1;
    }
    
    .portfolio-box_play-button{
        left: 54%;
    }
}

.portfolio-box.lubka-web:hover{
    .portfolio-box_asside{
        background-color: rgba($lubkaWeb-color, .5);
    }
    
    h4,h3{
        color: rgba(0, 0, 0, 1);
    }
}
.portfolio-box.my-web:hover{
    .portfolio-box_asside{
        background-color: rgba($main-red, .5);
    }
    
    h4,h3{
        color: rgba(196, 196, 196, 1);
    }
}




.portfolio-button_container{
    height: 3vh;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: right;
    vertical-align: baseline;
    
    a{
        text-decoration: none;
        font-size: .7em;
        font-weight: 500;
        letter-spacing: .2rem;
        color: rgba(196, 196, 196, .3);
        transition: .2s;
    }
    
    a:hover,
    a:focus{
        color: rgba(196, 196, 196, .7);
    }
}

.portfolio-section_container{
    height: 2vh;
    width: 100%;
    padding: 0 3% 0 3%;

    p{
        font-size: .7em;
        font-weight: 500;
        letter-spacing: .2rem;
        color: rgb(219, 219, 219);
        padding-bottom: 1vh;
        text-shadow: -1px 2px 6px rgba(0, 0, 0, 0.5);
    }
}

//portfolio lightbox
.portfolio-lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $main-dark;
    background: url("../img/portfolio_bg.png") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 999;
    
    .portfolio-lightbox_inner{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 100%;
        column-gap: 1.5em;
        padding: 5%;
    }
    
    @media screen and (max-width:800px){
        .portfolio-lightbox_inner{
            grid-template-columns: 100%;
            grid-template-rows: 2fr 2fr;
            row-gap: 1.5em;
        }
    }
    
    .portfolio-lightbox_img{ 
        position: relative;  
        background-color: grey;
        width: 100%;
        height: 100%;
        box-shadow: -8px 10px 15px rgba(0, 0, 0, .5);

        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    
    .portfolio-lightbox_text{
        padding: 3% 3% 0 3%;
        width: 100%;
        height: 100%;
        text-align: center;

        .p-lightbox_text_web{
            width: 100%;
            height: 20%;
            text-align: center;
            
            a{
                font-size: 2.7vh;
                font-weight: 300;
                letter-spacing: .2rem;
                color: rgba($main-text, .4);
                text-decoration: none;
            }

            span{
                font-size: 1.5vh;
                font-weight: 300;
                letter-spacing: .2rem;
                color: rgba($main-text, .4);
                height: 1.8vh;
                display: block;

            }

            a:hover,
            a:focus{
                color: rgba($main-text, .7);
            }
        }

        .p-lightbox_text_desc{
            width: 100%;
            height: 70%;

            p{
                font-size: 1.6vh;
                font-weight: 200;
                letter-spacing: .2rem;
                color: rgba($main-text, .8);

                b{
                    font-weight: 500;
                }
            }
        }


        .p-lightbox_text_btn{
            width: 100%;
            height: 10%;
            background-color: $main-red;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: -8px 10px 15px rgba(0, 0, 0, .5);

            p{
                font-size: 2.5vh;
                font-weight: 500;
                letter-spacing: .2rem;
                color: $main-dark;
                margin: 0;
            }

        }

        .p-lightbox_text_btn:hover,
        .p-lightbox_text_btn:focus{
            cursor: pointer;
        }
    }
}

//video content
//
//

.video-mobile-title{
    height: 5vh;
    width: 100%;
    padding: 0 5%;
    display: none;

    p{
        font-size: .7em;
        font-weight: 500;
        letter-spacing: .2rem;
        color: rgb(219, 219, 219);
        padding-bottom: 1vh;
        text-shadow: -1px 2px 6px rgba(0, 0, 0, 0.5);
    }
}

.video-box{
    position: relative;
    height: 20vh; //mobile change
    box-shadow: -8px 10px 15px rgba(0, 0, 0, .5);
    overflow: hidden;

}

.video-box_cover{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transform: scale(1.35);
    transition: .5s;
    transition-timing-function: ease-in-out;
}

.video-box_asside{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(0px);
    transition: .7s;
    transition-timing-function: ease-in-out;

    .video-box_asside_inner{
        position: absolute;
        left: 0;
        width: 55%;
        height: 100%;
        padding: 8%;

    }

    h3{
        position: relative;
        width: 100%;
        top: 40%;
        font-size: .7vw;
        letter-spacing: .3vw;
        font-weight: 500;
        text-align: center;
        color: rgba(196, 196, 196, 1);
        opacity: 0;
        transition: .5s;
        transition-delay: .3s;
    }

    h4{
        position: relative;
        width: 100%;
        top: 40%;
        font-size: .5vw;
        letter-spacing: .3vw;
        font-weight: 500;
        text-align: center;
        color: rgba(196, 196, 196, .8);
        opacity: 0;
        transition: .5s;
        transition-delay: .3s;   
    }
}

.video-box_play-button{
    position: absolute;
    width: 35px;
    height: 50px;
    left: 50%;
    top: 50%;
    background-color: rgba($main-red, .5);
    transform: translate(-50%, -50%);
    backdrop-filter: blur(3px);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    transition: .5s;
    transition-timing-function: ease-out;
}
.video-box_play-button:hover,
.video-box_play-button:focus{
    background-color: rgba($main-red, .7);
    transition: .2s;
}


.video-box:hover{
    
    .video-box_asside{
        clip-path: polygon(0 0, 45% 0, 60% 100%, 0 100%);
        background-color: rgba(0, 0, 0, .3);
        backdrop-filter: blur(3px);
    }
    
    .video-box_cover{
        filter: grayscale(0%);
        transform: scale(1.25);
    }
    
    h3{
        top: 60%;
        opacity: 1;
    }
    
    h4{
        top: 60%;
        opacity: 1;
    }
    
    .video-box_play-button{
        left: 54%;
    }
}

.video-button_container{
    height: 2vh;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: right;
    vertical-align: baseline;
    
    a{
        text-decoration: none;
        font-size: .7em;
        font-weight: 500;
        letter-spacing: .2rem;
        color: rgba(196, 196, 196, .3);
        transition: .2s;
    }
    
    a:hover,
    a:focus{
        color: rgba(196, 196, 196, .7);
    }
}



@media only screen and (min-width: 2000px){
    .video-box_play-button{
        width: 46px;
        height: 66px;
    }

    .video-button_container a{
        font-size: 1.1em;
        letter-spacing: .3rem;
    }
    .video-box_asside{
        h3{
            font-size: .8vw;
        }
    
        h4{
            font-size: .6vw;
        }
    }
}


@media only screen and (min-width: 3000px){
    .video-box_play-button{
        width: 70px;
        height: 100px;
    }

    .video-button_container a{
        font-size: 1.5em;
        letter-spacing: .4rem;
    }

}

//video lightbox

.video-lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 999;
    display: none;

    .video-lightbox_inner{
        width: 100%;
        height: 100%;
        padding: 5%;
    }
    
    .video-lightbox_btn-back{
        position: absolute;
        top: 0;
        left: 50%;
        width: 7em;
        height: 3em;
        transform: translate(-50%, 0);
        background-color: rgba($main-red, .7);
        vertical-align: middle;

        p{
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 3em;
            font-size: 1em;
            color: $main-dark;
            font-weight: 500;
            letter-spacing: .15em;
        }

        &:hover{
            background-color: rgba($main-red, .9);
            cursor: pointer;
            transition: .4s;
        }
    }

    iframe{
        width: 100%;
        height: 100%;
    }
}

//kontakt
//
//


#kont article{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

ul.contact-list{
    height: 50%;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: auto 0;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-around;
    
    a{
        text-decoration: none;
    }

    a:hover{
        h3{
            color: rgba($main-text, .7);
        }
        i{
            color: rgba($main-text, .7);
        }
        
    }
}

li.contact-list_item{
    height: 10%;
}

.contact-list_item_title{
    display: inline-block;
    height: 100%;
    
    h3{

        font-size: 2.5vh;
        color: rgba($main-text, .4);
        letter-spacing: .2em;
        font-weight: 300;
        text-decoration: none;
        transition: .3s;
    }

}

.contact-list_item_icon{
    display: inline-block;
    height: 100%;
    width: 10%;
    text-align: center;
    vertical-align: bottom;
    
    i{
        font-size: 3vh;
        color: rgba($main-text, .4);
        transition: .3s;
    }
}

