@import 'variables';

// responsive mobile background
@media only screen and (max-width: 550px){
    .background .background_kto-som{
        background-image:  image-set( 
            url("../img/Lukas-bgmobile-800.png") 1x,
            url("../img/Lukas-bgmobile-1600.png") 2x,
            url("../img/Lukas-bgmobile-2400.png") 3x
          );
        background-position: 15% 0;
    }
}

@media only screen and (max-width: 550px){
    //asside menu media queries
    .asside-menu{
        height: 100%;
        left: 0;
        transform: translate(-30%);
    }
    .main-menu{
        display: none;
    }
    .content{
        left: 0;
    }

    .background::after{
        display: none;
    }

    .content-title-right{
        display: none;
    }

    .title,
    .title2{
        width: 40%;
        position: absolute;
    }

    .social-network_fixed-block{
        display: none;
    }

    .copyright_text{
        writing-mode: horizontal-tb;
        position: relative;
        text-align: right;
        
    }

    .scroll-container{
        display: none;
    }

    //main content

    .panel{
       min-height: 400px; 
    }


}