@import 'variables';

// responsive mobile background
@media only screen and (max-width: 550px){
    .background .background_kto-som{
        background-image:  image-set( 
            url("../img/Lukas-bgmobile-800_2.png") 1x,
            url("../img/Lukas-bgmobile-1600_2.png") 2x,
            );
        background-position: 15% 0;
        background-size: auto;
        background-attachment: fixed;
        background-color: $main-dark;
        transform: scale(1.3);
    }
}
        

@media only screen and (max-width: 550px){
    //asside menu media queries
    .asside-menu{
        height: 100%;
        left: 0;
        transform: translate(-30%);
    }

    .main-menu{
        display: none;
    }
    
    .title,
    .title2{
        width: 40%;
        position: absolute;
    }

    //background and icons mobile
    .content-title-right{
        display: none;
    }
    
    .background::after{
        display: none;
    }

    .background_kontakt{
        display: none;
    }
    
    .background_scroll-anim{
        display: none;
    }

    .social-network_fixed-block{
        display: none;
    }
    
    .copyright_text{
        writing-mode: horizontal-tb;
        position: relative;
        text-align: right;
        
    }
    
    .scroll-container{
        display: none;
    }
    
    //about content mobile
    .content{
        left: 0;
        max-width: 60%;
        margin-bottom: 30%;
    }

    .panel{
       min-height: 400px; 
    }

    #kto{

        article{
            margin-top: 25vh;
        }  
        #main-photo-container{
            margin-top: 4.5vh;
            
        }
        .content{
            max-width: 80%;
            margin-bottom: 15%;
            left: 0;
        }
        
        .kto-img_container{
            width: 90%;
            min-height: 29vh;
        }

        footer{
            p{
                font-size: 2.1vh;
                font-weight: 300;
                color: rgba(206, 206, 206, 1);
                letter-spacing: .1vh;
            }
            h4{
                color: rgba(206, 206, 206, 1);
                font-size: 2.8vh;
                font-weight: 300;
            }
        } 
    }

    //portfolio content mobile
    #moje{
        .content{
            max-width: 70%;
            margin-bottom: 20%;
        }

        article{
            height: 35vh;
            margin-bottom: 10%;
        }
        .portfolio-box{
            height: 35vh;
        }

        .portfolio-section_container{
            height: 3vh;
            margin-top: 5vh;

            p{
                font-size: .9em;
            }

        }

        .portfolio-button_container a{
            color: rgba(196, 196, 196, .7);
        }

        .portfolio-box_asside{
            clip-path: polygon(0 76%, 100% 60%, 100% 100%, 0% 100%);
            background-color: rgba(0, 0, 0, .4);
            backdrop-filter: blur(3px);

            h3{
                top: 40%;
                opacity: 1;
                font-size: 2.8vw;
                letter-spacing: 1vw;
            }
            
            h4{
                top: 45%;
                opacity: 1;
                font-size: 2.6vw;
                letter-spacing: 1vw;
            }
        }
        
        .portfolio-box_cover{
            filter: brightness(100%);
            transition: .7s;
            transform: scale(1.1);           
        }
        
        
        .portfolio-box_play-button{
            left: 54%;
        }

        .portfolio-box.lubka-web{
            .portfolio-box_asside{
                background-color: rgba($lubkaWeb-color, .5);
            }
            
            h4,h3{
                color: rgba(0, 0, 0, 1);
            }
        }
        .portfolio-box.my-web{
            .portfolio-box_asside{
                background-color: rgba($main-red, .5);
            }
            
            h4,h3{  
                color: rgba(196, 196, 196, 1);
            }
        }
    }

    .portfolio-lightbox .portfolio-lightbox_text{
        .p-lightbox_text_desc{
            height: 75%;
        }
        .p-lightbox_text_btn_container{
            height: 15%;
        }
    }
    

    //video content mobile
    #vid{
       article{
           margin-bottom: 8%;
       }

       .content{
           max-width: 80%;
           margin-bottom: 20%;
       }

       .video-box{
           height: 25vh;
       }

       .video-box_asside{
           clip-path: polygon(0 0, 45% 0, 60% 100%, 0 100%);
           background-color: rgba(0, 0, 0, .3);
           backdrop-filter: blur(3px);
       }
       
       .video-box_cover{
           filter: grayscale(0%);
           transform: scale(1.25);
       }
       
       h3{
           top: 60%;
           opacity: 1;
           font-size: 2.7vw;
           letter-spacing: 1.1vw;
       }
       
       h4{
           top: 60%;
           opacity: 1;
           font-size: 2.5vw;
           letter-spacing: 1.1vw;
       }
       
       .video-box_play-button{
           left: 54%;
       }

       .video-button_container a{
        color: rgba(196, 196, 196, .7);
       }

       .video-mobile-title{
           display: table;

           p{
               font-size: .9em;
           }
       }

    }

    //contact content mobile
    #kont{
        .content{
            max-width: 95%;
            margin-bottom: 10%;
        }

        .contact-list_item_title{
            width: 100%;
            text-align: center;

            h3{
                color: rgba($main-text, .8);
                display: none;
            }
        }
        .contact-list_item_icon{
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 8vh;
            
            i{
                font-size: 6vh;
                color: rgba($main-text, .8);
            }

        }
    }
}