@import 'variables';

@media only screen and (max-width: 550px){
    //asside menu media queries
    .asside-menu{
        height: 100%;
        left: 0;
        transform: translate(-30%);
    }
    .main-menu{
        display: none;
    }
    .content{
        left: 0;
    }

    .background::after{
        display: none;
    }

    .content-title-right{
        display: none;
    }

    .title,
    .title2{
        width: 40%;
        position: absolute;
    }

    .social-network_fixed-block{
        display: none;
    }

    .copyright_text{
        writing-mode: horizontal-tb;
        position: relative;
        text-align: right;
        
    }

    .scroll-container{
        display: none;
    }


}
