//variables------------------------
//---------------------------------
$main_red:rgb(141, 0, 0,); //asside fragment opacity: .6
$main_text: rgb(196, 196, 196);
$main_icon: rgb(196, 196, 196);
$left-title-dark: rgb(31, 31, 31);
$main-dark: rgb(20, 20, 20);