//variables------------------------
//---------------------------------
$main_red:rgb(141, 0, 0,);
$main_text: rgb(240, 240, 240);
$main_icon: rgb(196, 196, 196);
$main-dark: rgb(31, 31, 31); // prerob nie main!!
