html, body {
    height: 100%;
    font-size: 100%;
}

@import 'variables';
@import 'main-content';
@import 'asside';


//preloader

.preloader{
    position: fixed;
    background-color: $main-dark;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.none{
    display: none;
}


//background
.bg-img{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../img/Lukas-bg-2100.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: $main-dark;
    display: none;
}

.background{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: $main-dark;

    
    
    
    & .background_kto-som{
        @extend.bg-img;
        background-image: url("../img/Lukas-bg-2100.png"); 
        filter: grayscale(100%);
        background-position:50% 0;
    }
    
    & .background_moje-prace{
        @extend.bg-img;
        background-image: url("../img/Lukas-bg-2100.png");
        filter: grayscale(100%);
        background-position:50% 0;
    }
    
    & .background_video{
        @extend.bg-img;
        background-image: url("../img/Lukas-bg-2100.png");
        filter: grayscale(100%);
        background-position:50% 0;
    }
    
    & .background_kontakt{
        video{
            position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    object-fit: cover;
            filter: grayscale(100%);
        }
    }
    
    &::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba($main-dark, 0) 30%, rgba($main-dark, 1) 90%);
    }
}


//responsive desktop background 4k
@media only screen and (min-width: 2100px){
    .background .background_kto-som{
        background-image: url("../img/Lukas-bg-4k.jpg");
    }
}

.background .background-visible{
    display: block;

    &::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background:rgba($main-dark, 1);
        opacity: 1;
        animation: 1.5s both;
        animation-name: bg-img-animate;
    }

    @keyframes bg-img-animate{
        0%{opacity: 1;}
        100%{opacity: 0;}
    }

}
//social network --------------------------------------
.social-network_fixed-block{
    position: fixed;
    width: 100%;
    top: 2%;
    z-index: 4;

}
.social-network_container{
    width: 40%;
    height: 30px;
}
.social-network{
    width: 100%;
    text-align: center;
    margin: 0;
    
    
    i{
        color: rgba(196, 196, 196, .4);
        font-size: .9rem;
        transition: .2s;
    }

    a:hover i{
        color: rgba(196, 196, 196, .9);
    }
    

}

@media only screen and (min-width: 2500px){
    .social-network i{
        font-size: 1.6rem;
    }
}

//scroll arrow
.scroll-container{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    
    .scroll{
        width: 30%;
        height: 100%;
        margin: 0 auto;
        text-align: center;

        .scroll_arrow{
            position: relative;
            top: 1%;
            height: 25%;
            fill: rgba(196, 196, 196, .4);
            transform: rotate(0deg);
            animation: arrow_bounce 2s ease-in-out infinite;
        }

        @keyframes arrow_bounce {
           0% {top:0}
           50% {top: 30%}
           100% {top: 0%} 
        }
    }
}

@media only screen and (min-width: 2500px){
    
    .scroll-container{
        bottom: 1%;
        
        .scroll .scroll_arrow {
            height: 60%;
        }
    }
    }


//copy right text
.copyright_text{
    position: fixed;
    font-weight: 200;
    bottom: 0;
    left: 0;
    writing-mode:vertical-rl;
    letter-spacing: .2em;
    z-index: 99;
    margin: 0;
    color:rgba($main_text, .5);
    font-size: .6rem;
}

//vertical right text---------------------------------------------
.content-title-right{
    position: fixed;
    height: 100%;
    right: -5px;
    top: 0;
    width: 100px;
    writing-mode: vertical-lr;
    text-align: center;
    display: none;
    overflow: hidden;
}

.content-title-right_container{
    max-height: 900px;
    width: 100%;
    margin: auto 0;
    
    h2{
        color: rgb(49, 49, 49);
        font-size: 7rem;
        margin: 0;
        text-transform: uppercase;
        font-weight: 700;
        background: -webkit-linear-gradient(left, $left-title-dark, rgba($left-title-dark, .05));
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
}



@media only screen and (min-height: 1000px){
    .content-title-right{
        width: 130px;
        
        h2{
            font-size: 9rem;
        }
    }
}
@media only screen and (min-height: 1500px){
    .content-title-right{
        width: 190px;

        .content-title-right_container {
            max-height: 1300px;
        }

        h2{
            font-size: 13rem;
        }
    }
}

@media only screen and (max-height: 680px){
    .content-title-right{
        width: 73px;

        h2{
            font-size: 5rem;
        }
    }
}

.title-visible{
    display: block;
    opacity: 0;
    animation: vertical_text 2.5s both;
}

@keyframes vertical_text{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
//scrollbar
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba($main-dark, 1);
}

::-webkit-scrollbar-thumb {
    background: rgba($main_text, .1);
}

// mobile media queries
@import 'mobile';
